In [3]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
import pymysql

In [15]:
# Database connection parameters
db_params = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'toko_karunia',
    'port': 3306  # Default MySQL port
}

In [17]:


# Establish the database connection
connection = pymysql.connect(**db_params)

try:
    # Execute the query
    query = "SELECT * FROM product"
    df = pd.read_sql(query, connection)
finally:
    # Close the connection
    connection.close()

# Display the DataFrame
df

/tmp/ipykernel_90539/2171084170.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

    id                          nama  stok_awal  stok_terjual    harga
0    6               Mc toshiba 75mn         61            23  5000000
1    7                  Mc aqua 88dd         24             9  3000000
2    8               Mc poltron 1076         81            51  4500000
3    9                 Mc sharp 70mw         60            44  3500000
4   10                 Mc sharp 80mw         64            25  3200000
5   11                 Mc sharp 1070         92            44  3100000
6   12             Mc panasonic 96bb         96            26  4000000
7   13        Speaker polytron 8Ff22         84            52  2000000
8   14         Speaker poltron 8ff28         84            55  2500000
9   15        Speaker polytron 8cf28         97            52  2300000
10  16              Les polytron 175         33            21  1500000
11  17             Led polytron 32CV         30            21  3100000
12  18             Led polytron 32ag         31            15  3100000
13  19             Led polytron 43cv         98            36  4500000
14  20           Led toshiba 32smart         11             2  3500000
15  21                Wf maspion 41k         27            12  2200000
16  22             Wf maspion 4001RC         39             8  2400000
17  23               Pw maspion 1809         47            27  1800000
18  24                     Breket 43         11             4   200000
19  25            Boxfrezer aqua 200         73            36  6000000
20  26            Boxfrezer aqua 150         69            51  5000000
21  27                Mcc sharp 70mw         30            10  3400000
22  28             Mcc polytron 8076         42            18  3300000
23  29                Les sharp 197W         85            55  1800000
24  30              Les polytron 177         67            22  1700000
25  31                 Led coocaa 32         31             7  2800000
26  32  Speaker polytron pas pro 15F         58            17  2600000
27  33               Antena toyosaki         68            51   120000
28  34            Kompor rinnai 522E         51            34   700000
29  35           Kompor nico 2tungku         69            40   600000
30  36                Breket bold 32         89            64   300000
31  37          Df wellhome karakter         24            16   400000
32  38                 Ac sharp 5bey         71            22  3000000
33  39         Showcase polytron 237         71            52  2500000
34  40               Les sharp 317mg         56            29  2000000
35  41               Les sharp 236mh         71            48  2100000
36  42                 Mc sharp 90mw         73            19  3400000
37  43                    Mc LG 8000         12             4  4000000
38  44              Mc polytron 7073         60            27  3600000
39  45     Speaker polytron pas 8e12         16            11  2700000
40  46            Led aqua 32android         82            16  3800000
41  47            Led aqua 43android         48            24  4500000
42  48              Mcom miyako 512C         13             4  1500000
43  49              Mcom miyako 18bh         98            26  1400000
44  50              Mcom cosmos 6368         69            27  1800000
45  51          Blender philips 2115         23            17  1200000
46  52             Pipa ac artic 1pk         18             7    50000

In [14]:
data

NameError: name 'data' is not defined